# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore virtual environments
venv/
dreamvenv/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
.env.local

# Ignore Docker cache
*.dockerignore
Dockerfile~